@import './variables.css';

header {
  padding: 32px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: sticky;
  top: 0;
  z-index: 10;
  background-color: var(--primary-white);
}

header a {
  color: inherit;
  text-decoration: none;
}

header img {
  height: 24px;
  width: 24px;
}

.logo {
  display: flex;
  align-items: center;
}

.logo img {
  margin-right: 12px;
}

.logo__text--primary {
  margin-right: 24px;
}

nav a {
  margin: 0 21px;
  position: relative;
}

nav a:first-of-type {
  margin-left: 0;
}

nav a:last-of-type {
  margin-right: 0;
}

nav a::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  height: 2px;
  width: 0%;
  background: #000;
  transition: width 0.3s ease;
}

nav a:hover::after {
  width: 100%;
}

.user {
  display: flex;
  align-items: center;
}

.user img {
  margin-right: 12px;
}